div {
    max-width: 1600px;
  }

#content {
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #fcfbfb;
}

header {
    background-color: #A4A0BB;
}

.home-title {
    color: black;
}

h4 {
    color: black;
}

nav a:hover {
    background-color: black;
    color: black;
}

.book, .join {
    background-color: #A0C1B9;
    color: black;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #A0C1B9;
    color: black;
}

.msg h2 {
    color: black;
}

.msg p {
    color: black;
}

#background {
    background-color:#70A0AF;
}

.msg {
    background-color: #A0C1B9;
}

footer {
    background-color: #F4E8C1;
    color: black;
}

footer a {
    color: black;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a:hover {
    color: black;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}



